
<h1><%= @vendor.name %></h1>

<h2>Vendor Details</h2>
  <ul>
    <li>Vendor ID: <%= @vendor.id.to_s %></li>
    <li>Number of Employees: <%= @vendor.number_of_employees.to_s %></li>
    <li>Market: <%= @vendor_market %></li>
  </ul>

<h2>Vendor Products</h2>
  <%= link_to "Add Product", new_vendor_product_path(params[:id]) %>
  <ul>
    <% @products.each do |product| %>
      <li>
<<<<<<< HEAD
        <%= product.name %> <%= link_to "Edit", edit_vendor_product_path(params[:id], product.id) %> <%= link_to "Delete", vendor_product_path(params[:id], product.id), method: :delete, data: { confirm: "Are you sure?"} %> <%= link_to "Add Sale", new_vendor_product_sale_path(params[:id], product.id) %>
=======
        <%= product.name %>
        <%= link_to "Add Sale", new_vendor_product_sale_path(product.id, @vendor.id) %>
>>>>>>> b/bk/vendor_new_delete
      </li>
    <% end %>
  </ul>

<h2>Vendor Sales</h2>
<% if @sales.empty? %>
  <p>
    <%= @vendor.name %> has no sales to date.
  </p>
<% else %>
  <h3>ALL SALES</h3>
    <%= render partial: "sales_table", locals: { sales: @sales, sales_total: @sales_total } %>
  <h3>CURRENT MONTH SALES</h3>
    <%= render partial: "sales_table", locals: { sales: @month_sales, sales_total: @current_month_total } %>
<% end %>
