<h1><% @market.name %></h1>

<h2>Market Details</h2>
  <% if @link == "market" %>
  <%= link_to "Edit", edit_market_path  %>
  <% end %>
  <ul>
    <% @market.attributes.each do |k, v| %>
      <li>
        <%= "#{k.capitalize}: #{v}" %>
      </li>
    <% end %>
  </ul>


<h2>Market Vendors</h2>
  <ul>
     <% if @link == "market" %>
      <%=link_to "create a Vendor", new_market_vendor_path(@market.id) %>
      <% end %>

    <% @vendors.each do |vendor| %>
      <li>
        <%= vendor.name %>
        <% if @link == "market" %>
        <%= link_to "Edit", edit_market_vendor_path(vendor.market, vendor)  %>
        <%= link_to "Delete", market_vendor_path(@market, vendor),  method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        <% if vendor != nil %>
        <% else %>
        <%= @msg %>
        <% end %>

      </li>
<% end %>
  </ul>
