<h1><% @market.name %></h1>

<h2>Market Details</h2>
  <% if @link == "market" %>
    <%= link_to "Edit", edit_market_path  %>
    <!-- <%# link_to "Delete", market_vendor_path(@market.id), method: :delete, data: {confirm: "Are you sure?"} %> -->
    <%= link_to "Delete", market_vendor_path(@market, Vendor),  method: :delete, data: {confirm: "Are you sure?"} %>

  <% end %>
  <ul>
    <% @market.attributes.each do |k, v| %>
      <li>
        <%= "#{k.capitalize}: #{v}" %>
      </li>
    <% end %>
  </ul>

<%#link_to "create a Vendor", new_market_vendor_path %>

<%=link_to "create a Market", new_market_vendor_path  %>


<h2>Market Vendors</h2>
  <ul>
    <% @vendors.each do |vendor| %>
      <li>
        <%= vendor.name %>
        <%= link_to "Edit", edit_market_vendor_path(vendor.market, vendor)  %>
        <% if vendor != nil %>
        <% else %>
          <%= @msg %>
        <% end %>

      </li>
<% end %>
  </ul>
