
<section class="centered-list">
  <h1 class="page-title"><%= @product.name %></h1>
  <h2 class="section-heading">Add New Sale</h1>  
  <%= form_for @sale, url: {action: "create"} do |f| %>
  <p><%= f.label :Amount %>:</p>
  <p><%= f.number_field :amount, required: true %></p>

  <p><%= f.label :Purchase_Time %>:</p>
  <p><%= f.datetime_local_field :purchase_time, required: true %></p>

  <p><%= f.submit "Submit" %></p>
  <% end %>
</section>
